body {
  background-image: url("img/IMG_2406.JPG");
  background-size:1500px;
}
* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
}
.top{
  text-align: center;
  padding: -50px;
  font-size: 40px;
}
a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
 color: rgb(107, 255, 49);
}

.navbar { 
  text-align: center; 
  float: none;
  position: absolute;
  top: 8%;
  left: 40%;
  transform: translate(-30%, -30%);
  font-size: 30px;
}   

.buttonbutton{
  background-color: Transparent;
  background-repeat:no-repeat;
}
.dropdown-menu{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;  
  outline: none; 
}
#dropdownMenuButton{
  border: none;
  cursor:pointer;
  overflow: hidden; 
  outline: none; 
}
#dropdownMenuButton:hover{
  color: rgb(0, 0, 0);
}

.dropdown-item:hover{
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(231, 211, 184);
}
.fa {
  padding: 17px;
  font-size: 25px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.box {
    position:relative;
    left:30px;
    top: -80px ;
}

@media screen and (max-width: 600px) and (min-width: 300px) {
  div.navbar{
    display: none;  
  }

  div.top{
    font-size: 30px;
    margin-top: 25px;
  }

  div.box{
    display:none;
  }

  .dropdown-menu{
    background-color: rgb(231, 211, 184);
  }
}
@media screen and (max-width: 1050px) and (min-width: 600px) {
  div.top{
    font-size: 30px;
    margin-top: 25px;
  }
  div.box{
    display:none;
  }

  .dropdown-menu{
    background-color: rgb(231, 211, 184);
  }
  .navbar{
    display:none;
  }
} 

  @media screen and (max-width: 2500px) and (min-width: 1050px) {
    div.naujas{
    display: none;
  }
  .navbar { 
    text-align: center; 
    float: none;
    position: center;
    margin-top: 25px;
    left: 40%;
    font-size: 23px;
  }
  .top{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
  }  

}
