body {
  background-color: rgb(0, 0, 0);
}
* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: rgb(255, 148, 246);
}
.top{
  text-align: center;
  padding: 32px;
}
a:link {
  color:  rgb(255, 148, 246);
  text-decoration: none;
}

a:visited {
  color:  rgb(255, 148, 246);
}

a:hover {
 color: rgb(238, 205, 245);
}

.navbar { 
  text-align: center; 
  float: none;
  position: absolute;
  top: 11%;
  left: 40%;
  transform: translate(-30%, -30%);
  font-size: 140%;
}   
.buttonbutton{
  background-color: Transparent;
  background-repeat:no-repeat;
}
.dropdown-menu{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;  
  outline: none; 
}
#dropdownMenuButton{
  border: none;
  cursor:pointer;
  overflow: hidden; 
  outline: none; 
}
#dropdownMenuButton:hover{
  color: rgb(238, 205, 245);
}

.dropdown-item:hover{
  background-color: transparent;
  color:rgb(238, 205, 245);
}

.row {
    top: 4%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .fa {
    padding: 17px;
    font-size: 25px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .box {
      position:relative;
      left:30px;
      top: -80px ;
  }
  
  /* Create four equal columns that sits next to each other */
.column {
    margin-top: 40px;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
.column img {
    margin-top: 108px;
    vertical-align: middle;
    width: 100%;
  }
  
 
  @media screen and (max-width: 600px) and (min-width: 300px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    div.navbar{
      display: none;  
    }
  
    div.top{
      font-size: 30px;
      margin-top: 25px;
    }
  
    div.box{
      display:none;
    }
  
    .tekstas{
      font-size: 20px;
      margin-top: 50px;
    }
    .dropdown-menu{
      background-color: rgb(255, 255, 255);
    }

    .column {
      flex: 100%;
      max-width: 100%;
    }
  
    #content1 > img{
      display: none;
    }
    #content2 > img{
      display: none;
    }
    #content3 > img{
      display: none;
    }
    #content4 > img{
      display: none;
    }
    #content5 > img{
      display: none;
    }
    #content6 > img{
      display: none;
    }
    #content7 > img{
      display: none;
    }
    #content8 > img{
      display: none;
    }
  }

  
  @media screen and (max-width: 1050px) and (min-width: 600px) {
    div.top{
      font-size: 30px;
      margin-top: 25px;
    }
    div.box{
      display:none;
    }
    .navbar { 
      display: none;
    }
    .dropdown-menu{
      background-color: rgb(0, 0, 0);
    }
    #content1 > img{
      display: none;
    }
    #content2 > img{
      display: none;
    }
    #content3 > img{
      display: none;
    }
    #content4 > img{
      display: none;
    }
    #content5 > img{
      display: none;
    }
    #content6 > img{
      display: none;
    }
    #content7 > img{
      display: none;
    }
    #content8 > img{
      display: none;
    }
  }
    @media screen and (max-width: 2500px) and (min-width: 1000px) {
      div.naujas{
      display: none;
    }
    .navbar { 
      text-align: center; 
      float: none;
      position: center;
      margin-top: 25px;
      left: 40%;
      font-size: 23px;
    }
    .top{
      text-align: center;
      margin-top: 30px;
      font-size: 30px;
    }  
    .tekstas{
      font-size: 20px;
      margin-top: 100px;
    }
  
  }
  
  